﻿@using System.Collections
<style>
    #grid input {
        color: initial;
    }
</style>
﻿﻿@(Html.Kendo().Grid<BMS.Data.Lot>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.ForeignKey(x => x.ItemID, (IEnumerable)ViewData["Items"], "Value", "Text").Title("Item");
          columns.Bound(c => c.Units);
          columns.Bound(c => c.FromDate).Format("{0:d}");
          columns.Bound(c => c.ThruDate).Format("{0:d}");
          columns.Command(command => {command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar => {
          toolbar.Create();
          toolbar.Save();
      })
      .HtmlAttributes(new { style = "height:430px;" })
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Pageable()
      .Navigatable()
      .Selectable(selectable => {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.MultipleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Batch(true)
          .Model(model =>
          {
              model.Id(p => p.ID);
              model.Field(p => p.FromDate).Editable(false);
              model.Field(p => p.ThruDate).Editable(false);
          })
          .Read(read => read.Action("Lots_Read", "Lot"))
          .Create(create => create.Action("Lots_Create", "Lot"))
          .Update(update => update.Action("Lots_Update", "Lot"))
          .Destroy(destroy => destroy.Action("Lots_Destroy", "Lot"))
      )
)
