<h3>
   <div class="pull-right text-center">
      <div sparkline="" data-bar-color="#cfdbe2" data-height="20" data-bar-width="3" data-bar-spacing="2">
         1,0,4,9,5,7,8,9,5,7,8,4,7</div>
   </div>Flot charts</h3>
<div ng-controller="FlotChartController" class="container-fluid">
   <!-- START row-->
   <div class="row">
      <div class="col-lg-6">
         <div id="panelChart1" class="panel panel-default">
            <div class="panel-heading">
               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss" tool-refresh="traditional"></paneltool>
               <div class="panel-title">Area</div>
            </div>
            <div collapse="panelChart1" class="panel-wrapper">
               <div class="panel-body">
                  <!--<div data-source="server/chart-data.php?type=area" class="chart-area flot-chart"></div>-->
                   <div data-source="api/Chart?type=area" class="chart-pie flot-chart"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div id="panelChart9" class="panel panel-default">
            <div class="panel-heading">
               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss" tool-refresh="traditional"></paneltool>
               <div class="panel-title">Area Spline</div>
            </div>
            <div collapse="panelChart9" class="panel-wrapper">
               <div class="panel-body">
                  <!--<div data-source="server/chart-data.php?type=spline" class="chart-spline flot-chart"></div>-->
                   <div data-source="api/Chart?type=spline" class="chart-pie flot-chart"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
   <!-- START row-->
   <div class="row">
      <div class="col-lg-6">
         <div id="panelChart2" class="panel panel-default">
            <div class="panel-heading">
               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
               <div class="panel-title">Bar</div>
            </div>
            <div collapse="panelChart2" class="panel-wrapper">
               <div class="panel-body">
                  <!--<div data-source="server/chart-data.php?type=bar" class="chart-bar flot-chart"></div>-->
                   <div data-source="api/Chart?type=bar" class="chart-pie flot-chart"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div id="panelChart3" class="panel panel-default">
            <div class="panel-heading">
               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
               <div class="panel-title">Bar - Stacked</div>
            </div>
            <div collapse="panelChart3" class="panel-wrapper">
               <div class="panel-body">
                  <div class="indicator show">
                     <span class="spinner"></span>
                  </div>
                  <!--<div data-source="server/chart-data.php?type=barstacked" class="chart-bar-stacked flot-chart"></div>-->
                   <div data-source="api/Chart?type=barstacked" class="chart-pie flot-chart"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
   <!-- START row-->
   <div class="row">
      <div class="col-lg-12">
         <div id="panelChart4" class="panel panel-default">
            <div class="panel-heading">
               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
               <div class="panel-title">Line</div>
            </div>
            <div collapse="panelChart4" class="panel-wrapper">
               <div class="panel-body">
                  <!--<div data-source="server/chart-data.php?type=line" class="chart-line flot-chart"></div>-->
                   <div data-source="api/Chart?type=line" class="chart-pie flot-chart"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
   <!-- START row-->
   <div class="row">
      <div class="col-md-6">
         <div id="panelChart5" class="panel panel-default">
            <div class="panel-heading">
               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
               <div class="panel-title">Pie</div>
            </div>
            <div collapse="panelChart5" class="panel-wrapper">
               <div class="panel-body">
                   <!--<div data-source="server/chart-data.php?type=pie" class="chart-pie flot-chart"></div>-->
                  <div data-source="api/Chart?type=pie" class="chart-pie flot-chart"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div id="panelChart6" class="panel panel-default">
            <div class="panel-heading">
               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
               <div class="panel-title">Donut
                  <small>(loaded from json)</small>
               </div>
            </div>
            <div collapse="panelChart6" class="panel-wrapper">
               <div class="panel-body">
                  <!--<div data-source="server/chart-data-donut.json" class="chart-donut flot-chart"></div>-->
                   <div data-source="api/Chart?type=donut" class="chart-pie flot-chart"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
</div>