﻿<!-- top navbar-->
<header ng-include="'@Url.Action("TopNavigationbar")'" class="topnavbar-wrapper"></header>
<!-- sidebar-->
<aside ng-include="'@Url.Action("Sidebar")'" ng-controller="SidebarController" class="aside"></aside>
<!-- offsidebar-->
<aside ng-include="'@Url.Action("OffSidebar")'" class="offsidebar"></aside>
<!-- Main section-->
<section>
    <!-- Page content-->
    <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
</section>
<!-- Page footer-->
<footer ng-include="'@Url.Action("Footer")'"></footer>
