﻿<link href="~/Content/kendo/2015.2.805/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.common.core.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.dataviz.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.dataviz.material.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.common-material.core.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.material.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.material.mobile.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.mobile.all.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.mobile.material.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2015.2.805/kendo.rtl.min.css" rel="stylesheet" />
<script src="~/Scripts/kendo/2015.2.805/jquery.min.js"></script>
<script src="~/Scripts/kendo/2015.2.805/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/2015.2.805/kendo.aspnetmvc.min.js"></script>
<script src="~/Scripts/kendo/2015.2.805/kendo.core.min.js"></script>
@RenderBody()