﻿<style>
    .row {
        margin-bottom: 5px;
    }

    .amount {
        text-align: right;
        padding-right: 10px;
    }

    #billLines .k-icon {
        margin: 3px;
    }

        #billLines .k-icon:hover {
            cursor: pointer;
        }
</style>
<script src="~/Scripts/jsviews.min.js"></script>
<script>
    var item = {};
    var uuid = function () {
        var buf = new Uint32Array(4);
        window.crypto.getRandomValues(buf);
        var idx = -1;
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            idx++;
            var r = (buf[idx >> 3] >> ((idx % 8) * 4)) & 15;
            var v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    };
    var billLines = [
    {
        itemId: 1,
        itemName: 'Maliban Chocolate Cream Packet 0.250kg 123.55/=',
        price: 123.55,
        sale: 10,
        fi: 0,
        gr: 0,
        dm: 0,
        ex: 0,
        discount: 0,
        amount: 1235.50,
        lineId: 0,
        uid: uuid(),
        inEdit: false,
        deleted: false,
        edited: false
    },
    {
        itemId: 2,
        itemName: 'Maliban Gold Marie Packet 0.100kg 55.24/=',
        price: 55.24,
        sale: 10,
        fi: 0,
        gr: 0,
        dm: 0,
        ex: 0,
        discount: 0,
        amount: 552.40,
        lineId: 0,
        uid: uuid(),
        inEdit: false,
        deleted: false,
        edited: false
    }];

    var bill = {
        initItem: function () {
            item = {
                itemId: 0,
                itemName: '',
                price: 0.0,
                sale: 0,
                fi: 0,
                gr: 0,
                dm: 0,
                ex: 0,
                discount: 0,
                amount: 0,
                lineId: 0,
                uid: uuid(),
                inEdit : false,
                deleted : false,
                edited:false
            };
        },
        updateLineAmount: function (e) {
            bill.collectItemData();
            item.amount = bill.calculateAmount();
            $('#txtAmount').text(item.amount.toFixed(2));
        },
        collectItemData: function () {
            bill.initItem();
            item.itemId = $(ddItem).val() ? parseInt($(ddItem).val()) : 0;
            item.itemName = $(ddItem).val() ? $(ddItem).data('kendoDropDownList').text() : '';
            item.sale = $(txtSale).val() ? parseInt($(txtSale).val()) : 0;
            item.fi = $(txtFI).val() ? parseInt($(txtFI).val()) : 0;
            item.gr = $(txtGR).val() ? parseInt($(txtGR).val()) : 0;
            item.dm = $(txtDM).val() ? parseInt($(txtDM).val()) : 0;
            item.ex = $(txtEX).val() ? parseInt($(txtEX).val()) : 0;
            item.discount = $(txtDiscount).val() ? parseFloat($(txtDiscount).val()) : 0;
            item.price = $(ddItem).val() ? bill.getItemPrice() : 0;
            //item.amount = ($(txtEX).val() || $(txtGR).val() || $(txtFI).val() || $(txtDM).val() || $(txtEX).val()) ?
            //    bill.calculateAmount() : 0;
        },
        calculateAmount: function () {
            item.discount = $(txtDiscount).val() ? parseFloat($(txtDiscount).val()) : 0;
            var discountable = item.sale - item.gr - item.dm - item.ex;
            var price = bill.getItemPrice() * discountable * (discountable > 0 ? (1 - parseFloat(item.discount)) : 1);
            return price;
        },
        getItemPrice: function () {
            var text = $(ddItem).data('kendoDropDownList').text();
            var start = text.lastIndexOf(' ') + 1;
            var end = text.lastIndexOf('/');
            return parseFloat(text.slice(start, end));
        },
        addLine: function () {
            if ((item.sale + item.gr + item.dm + item.ex + item.fi) == 0) return;
            billLines.push(item);
            bill.renderLines();
            bill.clearEdit();
        },
        clearEdit: function () {
            bill.initItem();
            $('#ddItem').data('kendoDropDownList').select(item.itemId);
            $('#txtSale').data("kendoNumericTextBox").value(null);
            $('#txtFI').data("kendoNumericTextBox").value(null);
            $('#txtGR').data("kendoNumericTextBox").value(null);
            $('#txtDM').data("kendoNumericTextBox").value(null);
            $('#txtEX').data("kendoNumericTextBox").value(null);
            $('#txtDiscount').data("kendoNumericTextBox").value(null);
            $('#txtAmount').text(item.amount.toFixed(2));
        },
        updateLineTotal: function () {
            var total = 0.00;
            $(billLines).each(function (i, e) {
                if (e.deleted == false)
                    total += e.amount;
            });
            $('#billLinesTotal').text(total.toFixed(2));
        },
        renderLines: function () {
            $('.billLine').remove();
            var template = $.templates('#itemTemplate');
            var htmlOutput = template.render(billLines, {
                prettyDiscount: function (discount) {
                    return parseFloat(discount) * 100 + "%";
                },
                prettyPrice: function (price) {
                    return parseFloat(price).toFixed(2);
                }
            });
            $("#billLinesHeader").after(htmlOutput);
            bill.updateLineTotal();
        },
        deleteItem: function (e) {
            var r = confirm('Are you sure ?');
            if (r == true) {
                var selectedUid = $(e).data('uid');
                var deleted = $.grep(billLines, function (n, i) {
                    return n.uid == selectedUid;
                });
                billLines[$.inArray(deleted[0], billLines)].deleted = true;
                bill.renderLines();
                bill.updateLineTotal();
            }
        },
        editItem: function (e) {
            var selected = $.grep(billLines, function (n, i) {
                return n.uid == $(e).data('uid');
            });
            item = selected[0];
            $('#ddItem').data('kendoDropDownList').value(item.itemId);
            $('#txtSale').data("kendoNumericTextBox").value(item.sale);
            $('#txtFI').data("kendoNumericTextBox").value(item.fi);
            $('#txtGR').data("kendoNumericTextBox").value(item.gr);
            $('#txtDM').data("kendoNumericTextBox").value(item.dm);
            $('#txtEX').data("kendoNumericTextBox").value(item.ex);
            $('#txtDiscount').data("kendoNumericTextBox").value(item.discount);
            $('#txtAmount').text(item.amount);
        }
    }
    bill.initItem();
</script>
<script id="itemTemplate" type="text/x-jsrender">
    {{if !deleted}}
    <tr class="billLine">
        <td>
            <span class="k-icon k-edit line" data-item="{{:itemId}}" data-uid="{{:uid}}" onclick="bill.editItem(this)"></span>
            <span class="k-icon k-delete line" data-item="{{:itemId}}" data-uid="{{:uid}}" onclick="bill.deleteItem(this)"></span>
        </td>
        <td>{{:itemName}}</td>
        <td>{{:sale}}</td>
        <td>{{:fi}}</td>
        <td>{{:gr}}</td>
        <td>{{:dm}}</td>
        <td>{{:ex}}</td>
        <td>{{>~prettyDiscount(discount) }}</td>
        <td class="amount">{{>~prettyPrice(amount)}}</td>
    </tr>
    {{/if}}
</script>
<table style="width: 100%">
    <tr>
        <th>Bill No</th>
        <th>Date</th>
        <th>Area</th>
        <th>Vehicle</th>
        <th>Customer</th>
        <th>Sales Person</th>
    </tr>
    <tr>
        <td>
            <input id="txtBillNo" class="k-textbox" value="123456789A" style="width: 110px;" />
        </td>
        <td>
            @(Html.Kendo().DatePicker().Name("dateBillDate")
                  .HtmlAttributes(new { style = "width:125px;" })
                  .Value(DateTime.UtcNow))
        </td>
        <td>
            @(Html.Kendo().DropDownList().Name("txtAreaId")
                  .Items(x =>
                  {
                      x.Add().Text("Wand Kara").Value("1");
                      x.Add().Text("Badde Yatal").Value("2");
                  })
                  .HtmlAttributes(new { style = "width:125px;" }))
        </td>
        <td>
            @(Html.Kendo().DropDownList().Name("txtVehicleID")
                  .Items(x =>
                  {
                      x.Add().Text("SP WD 7895").Value("1");
                      x.Add().Text("13-7896").Value("2");
                  })
                  .HtmlAttributes(new { style = "width:130px;" }))
        </td>
        <td>
            @(Html.Kendo().DropDownList().Name("txtCustomerID")
                  .Items(x =>
                  {
                      x.Add().Text("Aasddas Stores").Value("1");
                      x.Add().Text("Asdsd Stores and Traders").Value("2");
                  })
                  .HtmlAttributes(new { style = "width:200px;" }))
        </td>
        <td>
            @(Html.Kendo().DropDownList().Name("txtDealerID")
                       .Items(x =>
                       {
                           x.Add().Text("Adsfsdsdf Dwewefsdf").Value("1");
                           x.Add().Text("Dsss Ddsdf").Value("2");
                       })
                       .HtmlAttributes(new {style = "width:170px;"}))
        </td>
    </tr>
</table>
<hr />
<table style="width: 100%">
    <tr>
        <th>Item</th>
        <th>Sale</th>
        <th>FI</th>
        <th>GR</th>
        <th>DM</th>
        <th>EX</th>
        <th>Disc</th>
        <th class="amount">Amount</th>
        <th></th>
    </tr>
    <tr>
        <td>
            @(Html.Kendo().DropDownList().Name("ddItem")
                  .Items(x =>
                  {
                      x.Add().Text("Maliban Chocolate Cream Packet 0.250kg 123.55/=").Value("1");
                      x.Add().Text("Maliban Gold Marie Packet 0.100kg 55.24/=").Value("2");
                  })
                  .Filter(FilterType.Contains)
                  .HtmlAttributes(new { style = "width:360px;margin-right:5px;" })
                  .Events(e => e.Change("bill.updateLineAmount"))
            )
        </td>
        <td>
            @(Html.Kendo().NumericTextBox<int>().Name("txtSale").Events(e => e.Change("bill.updateLineAmount")).Format("#").Min(0).Min(0).Placeholder("0").Spinners(false).Decimals(0).HtmlAttributes(new { style = "width:54px;margin-right:5px;" }))
        </td>
        <td>
            @(Html.Kendo().NumericTextBox().Name("txtFI").Events(e => e.Change("bill.updateLineAmount")).Format("#").Min(0).Placeholder("0").Spinners(false).Decimals(0).HtmlAttributes(new { style = "width:54px;margin-right:5px;" }))
        </td>
        <td>
            @(Html.Kendo().NumericTextBox().Name("txtGR").Events(e => e.Change("bill.updateLineAmount")).Format("#").Min(0).Placeholder("0").Spinners(false).Decimals(0).HtmlAttributes(new { style = "width:54px;margin-right:5px;" }))
        </td>
        <td>
            @(Html.Kendo().NumericTextBox().Name("txtDM").Events(e => e.Change("bill.updateLineAmount")).Format("#").Min(0).Placeholder("0").Spinners(false).Decimals(0).HtmlAttributes(new { style = "width:54px;margin-right:5px;" }))
        </td>
        <td>
            @(Html.Kendo().NumericTextBox().Name("txtEX").Events(e => e.Change("bill.updateLineAmount")).Format("#").Min(0).Placeholder("0").Spinners(false).Decimals(0).HtmlAttributes(new { style = "width:54px;margin-right:5px;" }))
        </td>
        <td>
            @(Html.Kendo().NumericTextBox<double>().Name("txtDiscount").Events(e => e.Change("bill.updateLineAmount"))
                .Format("p0")
                .Min(0)
                .Max(1)
                .Step(0.01)
                .Placeholder("0")
                .Spinners(false).HtmlAttributes(new { style = "width:54px;margin-right:5px;" }))
        </td>
        <td class="amount">
            <span id="txtAmount" style="width: 70px;">0.00</span>
        </td>
        <td>
            <button id="addLine" class="k-button" onclick="bill.addLine()">
                <span class="k-icon k-update"></span>
            </button>
            <button id="cancelLine" class="k-button" onclick="bill.clearEdit()">
                <span class="k-icon k-cancel"></span>
            </button>
        </td>
    </tr>
</table>
<hr />
<table id="billLines" style="width: 100%">
    <tr id="billLinesHeader">
        <th style="width: 100px;"></th>
        <th>Item</th>
        <th>Sale</th>
        <th>FI</th>
        <th>GR</th>
        <th>DM</th>
        <th>EX</th>
        <th>Disc</th>
        <th class="amount">Amount</th>
    </tr>
    <tr class="billLine">
        <td colspan="9">
            <p style="text-align: center; padding-top: 15px;">
                :( No items here yet...
            </p>
        </td>
    </tr>
    <tr style="font-size: 120%; font-weight: bold;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" style="padding-top: 15px;">Total</td>
        <td id="billLinesTotal" class="amount" style="padding-top: 15px;">0.00</td>
    </tr>
</table>
<hr />
<div style="text-align: right">
    <button class="k-button k-button-icontext">
        <span class="k-icon k-update"></span>Save
    </button>
    <button class="k-button k-button-icontext" title="Update and Add New">
        <span class="k-icon k-update"></span>Save and New
    </button>
    <button class="k-button k-button-icontext">
        <span class="k-icon k-cancel"></span> Cancel
    </button>
</div>

<script>
    $(document).ready(function () {
        bill.renderLines();
    });
</script>
