﻿@model List<BMS.Data.Bill>
@{
    Layout = null;
}
<button id="btnAddBill" class="k-button">Add</button>
<button id="btnModifyBill" class="k-button">Modify</button>
<button id="btnDeleteBill" class="k-button">Delete</button>
<br />
@(Html.Kendo().Window()
      .Name("wBill")
      .Width(1020)
      .Height(600)
      .Visible(false)
      .Modal(true)
      .Draggable()
      .Position(p=>p.Top(10))
      .AutoFocus(true)
      .Title("Billing")
      .Actions(actions => actions.Refresh().Maximize().Close())
      .LoadContentFrom("BillContent", "Bill")
      .Events(e=>e.Open("wBillOnOpen"))
      )
<script>
    var wBillOnOpen = function(e) {
        $('#wBill').data("kendoWindow").center();
    }
    $(document).ready(function () {
        $('#btnAddBill').click(function () {
            $('#wBill').data("kendoWindow").open();
        });
    });
</script>