﻿@using System.Collections
<style>
    #grid input {
        color: initial;
    }
</style>
﻿﻿@(Html.Kendo().Grid<BMS.Data.VehicleStock>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.ForeignKey(x => x.LotID, (IEnumerable)ViewData["Lots"], "Value", "Text").Title("Lot");
          columns.ForeignKey(x => x.VehicleID, (IEnumerable)ViewData["Vehicles"], "Value", "Text").Title("Vehicle");
          columns.Bound(c => c.Cases);
          columns.Bound(c => c.Units);
          columns.Bound(c => c.FromDate).Format("{0:d}");
          columns.Bound(c => c.ThruDate).Format("{0:d}");
          columns.Command(command => { command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
          toolbar.Save();
      })
      .HtmlAttributes(new { style = "height:430px;" })
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Pageable()
      .Navigatable()
      .Selectable(selectable =>
      {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Batch(true)
          .Model(model =>
          {
              model.Id(p => p.ID);
              model.Field(p => p.FromDate).Editable(false);
              model.Field(p => p.ThruDate).Editable(false);
          })
          .Read(read => read.Action("VehicleStocks_Read", "VehicleStock"))
          .Create(create => create.Action("VehicleStocks_Create", "VehicleStock"))
          .Update(update => update.Action("VehicleStocks_Update", "VehicleStock"))
          .Destroy(destroy => destroy.Action("VehicleStocks_Destroy", "VehicleStock"))
      )
)
