﻿@using System.Collections
@using BMS.Data
@using BMS.Web.Controllers
<style>
    #grid input {
        color: initial;
    }
</style>
﻿﻿@(Html.Kendo().Grid<BMS.Data.Item>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.ForeignKey(x => x.BrandID, (IEnumerable)ViewData["Brands"], "Value", "Text").Title("Brand");
          columns.ForeignKey(x => x.ProductID, (IEnumerable)ViewData["Products"], "Value", "Text").Title("Product");
          columns.ForeignKey(x => x.CategoryID, (IEnumerable)ViewData["Categories"], "Value", "Text").Title("Category");
          columns.Bound(c => c.Weight).EditorTemplateName("Weignt").Format("{0:N3}");
          columns.Bound(c => c.UnitsPerCase).Format("{0:N0}");
          columns.Bound(c => c.UnitPrice).EditorTemplateName("Currency").Format("{0:C2}");
          columns.Bound(c => c.BuyingDiscount).EditorTemplateName("Discount").Format("{0:P}");
          columns.Bound(c => c.SellingDiscount).EditorTemplateName("Discount").Format("{0:P}");
          //columns.Bound(c => c.BrandID).EditorTemplateName("Brands");
          //columns.Bound(c => c.CategoryID).EditorTemplateName("Categories");
          //columns.Bound(c => c.ProductID).EditorTemplateName("Products");
          //columns.Bound(c => c.Weight).EditorTemplateName("Weight");
          //columns.Bound(c => c.UnitsPerCase);
          //columns.Bound(c => c.UnitPrice);
          //columns.Bound(c => c.BuyingDiscount);
          //columns.Bound(c => c.SellingDiscount);
          //columns.Bound(c => c.FromDate);
          //columns.Bound(c => c.ThruDate);
          columns.Command(c => c.Destroy());
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
          toolbar.Save();
      })
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Pageable()
      .Navigatable()
      .Selectable(selectable => {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.MultipleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Batch(true)
          .Model(model => model.Id(p => p.ID))
          .Read(read => read.Action("Items_Read", "Item"))
          .Create(create => create.Action("Items_Create", "Item"))
          .Update(update => update.Action("Items_Update", "Item"))
          .Destroy(destroy => destroy.Action("Items_Destroy", "Item"))
      )
)
